{
    "log_server_ref": "http://{{ vault_secrets.data.smc_url }}:8082/6.6/elements/log_server/11",
    "name": "{{ fw_name }}",
    "nodes": [
        {
            "firewall_node": {
                "name": "node4"
            }
        }
    ],
    "physicalInterfaces":[{
        "physical_interface":{
             "interface_id":0,
              "interfaces":[{
                  "single_node_interface":{
                      "address": "{{ fw_ip }}",
                      "nicid": "0",
                      "network_value": "10.0.0.0/24",
                      "primary_mgt": true
                  }
              }]
    }
    }]}
