{
    "capabilities": {
        "sha2_ike_hash_length": 256,
        "sha2_ipsec_hash_length": 256,
        "dh_group_18_for_ike": false,
        "esp_for_ipsec": true,
        "dh_group_2_for_ike": true,
        "dh_group_16_for_ike": false,
        "pfs_dh_group_17_for_ipsec": false,
        "rsa_signature_for_ike": false,
        "blowfish_for_ipsec": false,
        "sa_per_net": true,
        "triple_des_for_ike": false,
        "pre_shared_key_for_ike": true,
        "vpn_client_dss_signature_for_ike": false,
        "pfs_dh_group_21_for_ipsec": false,
        "aes256_for_ike": true,
        "dh_group_14_for_ike": false,
        "aes128_for_ike": false,
        "vpn_client_rsa_signature_for_ike": true,
        "aes_gcm_256_for_ipsec": false,
        "aggressive_mode": false,
        "dss_signature_for_ike": false,
        "sha1_for_ike": true,
        "sa_per_host": false,
        "external_for_ipsec": false,
        "md5_for_ipsec": false,
        "dh_group_20_for_ike": false,
        "des_for_ipsec": false,
        "forward_client_vpn": false,
        "pfs_dh_group_18_for_ipsec": false,
        "sha1_for_ipsec": true,
        "aes256_for_ipsec": true,
        "aes_xcbc_for_ipsec": false,
        "pfs_dh_group_20_for_ipsec": false,
        "md5_for_ike": false,
        "pfs_dh_group_14_for_ipsec": false,
        "forward_gw_to_gw_vpn": false,
        "vpn_client_sa_per_host": false,
        "dh_group_1_for_ike": false,
        "pfs_dh_group_1_for_ipsec": false,
        "dh_group_17_for_ike": false,
        "ah_for_ipsec": false,
        "dh_group_5_for_ike": false,
        "sha2_for_ipsec": false,
        "dh_group_19_for_ike": false,
        "vpn_client_ecdsa_signature_for_ike": false,
        "dh_group_15_for_ike": false,
        "pfs_dh_group_19_for_ipsec": false,
        "triple_des_for_ipsec": false,
        "des_for_ike": false,
        "dh_group_21_for_ike": false,
        "pfs_dh_group_15_for_ipsec": false,
        "aes128_for_ipsec": false,
        "pfs_dh_group_2_for_ipsec": true,
        "pfs_dh_group_5_for_ipsec": false,
        "blowfish_for_ike": false,
        "sha2_for_ike": false,
        "main_mode": true,
        "aes_gcm_for_ipsec": false,
        "ecdsa_signature_for_ike": false,
        "ipcomp_deflate_for_ipsec": false,
        "ike_v1": true,
        "ike_v2": false,
        "null_for_ipsec": false,
        "vpn_client_sa_per_net": true,
        "pfs_dh_group_16_for_ipsec": false
    },
    "cn_authentication_for_mobile_vpn": false,
    "disable_anti_replay": false,
    "disable_path_discovery": false,
    "hybrid_authentication_for_mobile_vpn": false,
    "keep_alive": false,
    "name": "{{ vpn_profile }}",
    "preshared_key_authentication_for_mobile_vpn": false,
    "read_only": false,
    "sa_life_time": 86400,
    "sa_to_any_network_allowed": false,
    "system": false,
    "trust_all_cas": true,
    "trusted_certificate_authority": [],
    "tunnel_life_time_kbytes": 0,
    "tunnel_life_time_seconds": 3600
}
